:root {
  --startrampe-animation-duration: 0.6s;
  --startrampe-easing-fuction: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.navbar {
  background: unset;
}

.navbar.scrolled {
  background-color: var(--black);
}

.navbar.menu-open {
  background-color: var(--black);
}
