:root {
  --startrampe-animation-duration: 0.6s;
  --startrampe-easing-fuction: cubic-bezier(0.39, 0.575, 0.565, 1);
  --startrampe-font-family: 'Obviously SR', sans-serif;
  --startramoe-font-family-bold: 'Obviously SR Bold', sans-serif;
}

.navbar {
  background: unset;
  transition: background-color var(--startrampe-animation-duration) var(--startrampe-easing-fuction);
}

.navbar.scrolled {
  background-color: var(--black);
}

.navbar .navbar_brand-link,
.navbar.scrolled .navbar-container .navbar_brand-link .navbar-brand_on-start .navbar-brand_on-start-logo-side-text {
  transition: opacity var(--startrampe-animation-duration) var(--startrampe-easing-fuction);
}

.navbar .navbar-container {
  transition: height var(--startrampe-animation-duration) var(--startrampe-easing-fuction);
}

.navbar.scrolled.scrolled .navbar-container {
  height: 4.5rem;
}

.navbar .navbar-container .navbar_brand-link .navbar-brand_on-start .navbar-brand_on-start-logo {
  transition: min-width var(--startrampe-animation-duration) var(--startrampe-easing-fuction);
}

.navbar.scrolled .navbar-container .navbar_brand-link .navbar-brand_on-start .navbar-brand_on-start-logo {
  min-width: 6.6rem;
}

.navbar .navbar_brand-link {
  opacity: 100;
  pointer-events: auto;
}

.navbar.scrolled .navbar-container .navbar_brand-link .navbar-brand_on-start .navbar-brand_on-start-logo-side-text,
.navbar.scrolled .navbar_button-menu-button-wrapper .button,
.navbar.scrolled.crossed-second-page-section .navbar_brand-link {
  opacity: 0;
  pointer-events: none;
}

.navbar.scrolled.crossed-second-page-section {
  background-color: transparent;
}

.navbar.scrolled.crossed-second-page-section
  .navbar_button-menu-button-wrapper
  .navbar_button-menu-button-hamburger-toggle::before {
  content: '';
  position: absolute;
  content: '';
  inset: 0;
  background-color: black;
  width: 5rem;
  height: 4.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar.scrolled.crossed-second-page-section
  .navbar_button-menu-button-wrapper
  .navbar_button-menu-button-hamburger-toggle:hover::before {
  background-color: var(--pink);
  transition: background-color var(--startrampe-animation-duration) var(--startrampe-easing-fuction);
}

.navbar.scrolled.crossed-second-page-section.menu-open {
  background-color: var(--black);
  transition: background-color 0.5s var(--startrampe-easing-fuction);
}

.navbar.scrolled.crossed-second-page-section.menu-open .navbar_brand-link,
.navbar.scrolled.crossed-second-page-section.menu-open .navbar_button-menu-button-wrapper .button,
.navbar.scrolled.crossed-second-page-section.menu-open .navbar_button-menu-button-wrapper {
  pointer-events: auto;
  opacity: 100;
}

.navbar.scrolled.crossed-second-page-section.menu-open
  .navbar_button-menu-button-wrapper
  .navbar_button-menu-button-hamburger-toggle,
.navbar.scrolled.crossed-second-page-section.menu-open
  .navbar_button-menu-button-wrapper
  .navbar_button-menu-button-hamburger-toggle::before {
  background-color: unset;
}

.navbar .navbar_button-menu-button-wrapper {
  transition: filter var(--startrampe-animation-duration) var(--startrampe-easing-fuction);
}

.navbar.menu-open.scrolled {
  background-color: var(--black);
}

.navbar.scrolled.crossed-second-page-section.menu-open
  .navbar-container
  .navbar_brand-link
  .navbar-brand_on-start
  .navbar-brand_on-start-logo,
.navbar.scrolled.menu-open
  .navbar-container
  .navbar_brand-link
  .navbar-brand_on-start
  .navbar-brand_on-start-logo-side-text {
  pointer-events: auto;
  opacity: 100;
}

.utility_heading-section,
.utility_content-section {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}

section.slanted {
  --slant-angle: -3deg;
  --background: var(--black);
  position: relative;
  isolation: isolate;
}

section.slanted::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--slant-angle));
}

.section_was_wir_tun.slanted {
  background-color: unset !important;
}

section.slanted.black::after {
  background: var(--black);
}

section.slanted.top::after {
  content: '';
  background: var(--background);
  position: absolute;
  isolation: isolate;
  z-index: 0;
  top: -5rem;
  left: 0;
  right: 0;
  height: 10rem;
  transform: skewY(var(--slant-angle));
}

.section_unsere-geschaftfelder.slanted.top {
  overflow: visible;
}

.section_unser_netzwerk .netzwerk_grid-element .netzwerk_item .netzwerk-item_title-element .netzwerk-item_title {
  clip-path: polygon(0 100%, 42% 100%, 100% 70%, 100% 0, 0 0);
}

.section_unsere-geschaftfelder
  .geschaftfelder_content-container
  .geschaft_slider
  .geschaft-slider_mask
  .geschaft-slider_slide
  .geschaft_slide-container
  h4 {
  clip-path: polygon(10% 100%, 100% 55%, 100% 0, 0 0, 0 100%);
}

.startrampe_heading_group_text .heading-style-h2.clipped {
  clip-path: polygon(0 0, 100% 0%, 100% 55%, 0% 100%);
}

.section_was_wir_tun .swiper-container {
  min-height: auto;
  justify-content: center;
}

.section_was_wir_tun .swiper-container .swiper-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 3rem 0;
}

.section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_heading-wrapper .wwt-slide_description {
  max-width: 320px;
}

.section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide[data-open] {
  max-height: unset;
}

/* .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_heading-wrapper {
  padding: 0 3rem;
} */

.section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide {
  transition: all var(--startrampe-animation-duration) var(--startrampe-easing-fuction);
}

.section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide[data-open] .wwt-slide_heading-wrapper {
  position: relative;
}

.section_was_wir_tun
  .swiper-container
  .swiper-wrapper
  .swiper-slide[data-open]
  .wwt-slide_heading-wrapper
  .wwt-slide_heading {
  color: var(--pink);
}

.section_was_wir_tun
  .swiper-container
  .swiper-wrapper
  .swiper-slide[data-open]
  .wwt-slide_heading-wrapper
  .wwt-slide_description {
  opacity: 100;
}

.section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide {
  width: 30rem;
}

.section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_heading-wrapper .wwt-slide_description {
  opacity: 0;
}

.section_wer_wir_sind .x-images-wrapper .x-wws-image-wrapper {
  opacity: 0;
}

.section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_image-wrapper {
  filter: brightness(40%);
  display: flex;
  justify-content: center;
}

.section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_image-wrapper.ideation {
  transform: translate(-50px, -25px);
}

.section_was_wir_tun
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  .wwt-slide_image-wrapper
  .wwt-slide-image_ideation-left {
  clip-path: polygon(60% 83%, 100% 91%, 100% 8%, 43% 19%);
}

.section_was_wir_tun
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  .wwt-slide_image-wrapper
  .wwt-slide-image_ideation-right {
  clip-path: polygon(0 100%, 100% 84%, 78% 0, 0 0);
}

.section_was_wir_tun
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  .wwt-slide_image-wrapper
  .wwt-slide-image_validation-left {
  clip-path: polygon(40% 90%, 100% 89%, 100% 8%, 40% 8%);
  object-position: 50% 0;
}
.section_was_wir_tun
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  .wwt-slide_image-wrapper
  .wwt-slide-image_validation-left
  img {
  object-position: -100% 0;
}

.section_was_wir_tun
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  .wwt-slide_image-wrapper
  .wwt-slide-image_validation-right {
  clip-path: polygon(0 100%, 41% 100%, 64% 11%, 0 0);
}

.section_was_wir_tun
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  .wwt-slide_image-wrapper
  .wwt-slide-image_mvp-right {
  clip-path: polygon(0 94%, 59% 94%, 58% 6%, 0 6%);
}
.section_was_wir_tun
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  .wwt-slide_image-wrapper
  .wwt-slide-image_mvp-left {
  clip-path: polygon(27% 91%, 100% 100%, 100% 0, 56% 0);
}

.section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_image-wrapper img {
  aspect-ratio: 9/14;
  object-fit: cover;
  object-position: 80% 50%;
  min-height: 25rem;
}

.section_was_wir_tun
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  .wwt-slide_image-wrapper
  .wwt-slide-image_venture-left {
  clip-path: polygon(42% 7%, 100% 6%, 100% 100%, 27% 100%);
}

.section_was_wir_tun
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  .wwt-slide_image-wrapper
  .wwt-slide-image_venture-right {
  clip-path: polygon(0 0, 80% 0, 55% 80%, 0 75%);
}

.section_was_wir_tun
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  .wwt-slide_image-wrapper
  .wwt-slide-image_venture
  .wwt-slide-image_venture-left
  img {
  object-position: 0% 50%;
}

.section_was_wir_tun
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  .wwt-slide_image-wrapper
  .wwt-slide-image_venture
  .wwt-slide-image_venture-right
  img {
  object-position: 100% 0%;
}

.section_was_wir_tun
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  .wwt-slide_image-wrapper
  .wwt-slide-image_mvp-left
  img {
  object-position: 100% 50%;
}

.section_was_wir_tun
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  .wwt-slide_image-wrapper
  .wwt-slide-image_crowd-left {
  clip-path: inset(30% 0% 20% 50%);
  transform: translateX(0px);
  z-index: 1;
}

.section_was_wir_tun
  .swiper-container
  .swiper-wrapper
  .swiper-slide
  .wwt-slide_image-wrapper
  .wwt-slide-image_crowd-right {
  clip-path: polygon(0 16%, 37% 0, 63% 90%, 0 100%);
}

.section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_image-wrapper {
  transform: translate(0px, -25px);
}

.section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_heading-wrapper.crowd-ideation {
  margin-top: 150px;
}

.section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide[data-open] .wwt-slide_heading-wrapper {
  margin-top: 0px;
}

.startrampe_heading_group_text .heading-style-h2.clipped.dass-team {
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
  line-height: 3.2rem;
}

.startrampe_heading_group_text .heading-style-h2.clipped.wer-wir-sind,
.startrampe_heading_group_text .heading-style-h2.clipped.was-wir-tun {
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
}

.section_hero .hero_heading-container .hero-heading.nachhaltige,
.section_hero .hero_heading-container .hero-heading.mobilitat,
.section_hero .hero_heading-container .hero-heading.hero-heading,
.section_hero .hero_heading-container .hero-heading.an-den-star {
  opacity: 0;
}

.section_unser_team .startrampe-slider-nav.team .w-slider-dot {
  width: 0.5rem;
  height: 0.5rem;
}
.section_unser_team .startrampe-slider-nav.team .w-slider-dot.w-active {
  background: var(--black);
}

#CybotCookiebotDialog {
  font-family: var(--startrampe-font-family) !important;
}

#CybotCookiebotDialog #CybotCookiebotDialogHeader #CybotCookiebotDialogPoweredbyImage {
  max-height: 5rem;
}

#CybotCookiebotDialog #CybotCookiebotDialogNav a.CybotCookiebotDialogNavItemLink.CybotCookiebotDialogActive {
  color: black !important;
  border-bottom: solid 2px black !important;
  font-family: var(--startramoe-font-family-bold) !important;
}

#CybotCookiebotDialog #CybotCookiebotDialogNav a.CybotCookiebotDialogNavItemLink:hover {
  color: pink !important;
}

#CybotCookiebotDialog
  .CybotCookiebotDialogContentWrapper
  #CybotCookiebotDialogFooter
  #CybotCookiebotDialogBodyButtonsWrapper
  button {
  font-family: var(--startramoe-font-family-bold) !important;
  border-radius: 0px !important;
  font-family: 700;
  border: solid 2px black;
  text-transform: uppercase;
}

#CybotCookiebotDialog
  .CybotCookiebotDialogContentWrapper
  #CybotCookiebotDialogFooter
  #CybotCookiebotDialogBodyButtonsWrapper
  button#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
  background-color: black !important;
}

#CybotCookiebotDialog input:checked + span.CybotCookiebotDialogBodyLevelButtonSlider {
  background-color: var(--green) !important;
}

#CybotCookiebotDialogBodyLevelButtonsSelectPane .CybotCookiebotDialogBodyLevelButtonDescription {
  font-family: var(--startramoe-font-family-bold) !important;
}

#CybotCookiebotDialogBodyLevelButtonsSelectPane .CybotCookiebotDialogBodyLevelButtonDescription:hover {
  color: black !important;
}

#CybotCookiebotDialog .CookieCard .CybotCookiebotDialogDetailBodyContentCookieContainerButton:hover,
#CybotCookiebotDialog .CookieCard .CybotCookiebotDialogDetailBodyContentIABv2Tab:hover,
#CybotCookiebotDialogDetailBodyContentCookieContainerTypes
  .CybotCookiebotDialogDetailBodyContentCookieProvider:not(
    .CybotCookiebotDialogDetailBodyContentCookieInfoCount
  ):hover {
  color: black !important;
}

#CybotCookiebotDialog a:hover:after,
#CybotCookiebotDialog a:hover:before,
#CybotCookiebotDialog button:hover:after,
#CybotCookiebotDialog button:hover:before {
  border-color: black !important;
}

#CybotCookiebotDialog #CybotCookiebotDialogBodyContentText a,
#CybotCookiebotDialog #CybotCookiebotDialogBodyLevelButtonIABHeaderViewPartnersLink,
#CybotCookiebotDialog #CybotCookiebotDialogDetailBulkConsentList dt a,
#CybotCookiebotDialog #CybotCookiebotDialogDetailFooter a,
#CybotCookiebotDialog .CybotCookiebotDialogBodyLevelButtonIABDescription a,
#CybotCookiebotDialog .CybotCookiebotDialogDetailBodyContentCookieLink,
#CybotCookiebotDialogDetailBodyContentTextAbout a {
  color: black !important;
}

.startrampe_heading_group_text .heading-style-h2.clipped.das-team {
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
}

@media (min-width: 620px) {
  .startrampe_heading_group_text .heading-style-h2.clipped.wer-wir-sind {
    clip-path: polygon(0 0, 100% 0%, 100% 10%, 0% 100%);
  }
}
@media (min-width: 768px) {
  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_image-wrapper {
    transform: translate(-70px, -25px);
  }

  .startrampe_heading_group_text .heading-style-h2.clipped {
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
  }
  .startrampe_heading_group_text .heading-style-h2.clipped.wer-wir-sind {
    clip-path: polygon(0 0, 100% 0%, 100% 65%, 0% 100%);
  }

  .startrampe_heading_group_text .heading-style-h2.clipped.das-team {
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
    line-height: 3.2rem;
  }

  .section_unser_netzwerk .netzwerk_grid-element .netzwerk_item .netzwerk-item_title-element .netzwerk-item_title {
    /* clip-path: polygon(0 100%, 5% 100%, 100% 73%, 100% 0, 0 0); */
    clip-path: unset;
  }

  .section_unser_netzwerk .netzwerk_grid-element .netzwerk_item {
    clip-path: polygon(0 100%, 20% 100%, 100% 60%, 100% 0, 0 0);
  }

  .section_unser_netzwerk .netzwerk_grid-element .netzwerk_item:hover {
    clip-path: unset;
  }
}

@media (min-width: 992px) {
  .section_unser_netzwerk .heading-wrapper .netzwerk_paragraph-element {
    font-size: 1rem;
    background-color: white;
    padding: 1rem 0;
    z-index: 1;
    position: relative;
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_heading-wrapper.crowd-ideation {
    margin-top: 150px;
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_heading-wrapper.ideation {
    margin-top: 75px;
  }
  .section_was_wir_tun
    .swiper-container
    .swiper-wrapper
    .swiper-slide.swiper-slide.venture-building
    .wwt-slide_heading-wrapper {
    margin-top: 50px;
  }
  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_heading-wrapper {
    transition: all var(--startrampe-animation-duration) var(--startrampe-easing-fuction);
  }

  .section_unser_team .startrampe-slider-nav.team .w-slider-dot {
    width: 1rem;
    height: 1rem;
  }

  .navbar.scrolled.crossed-second-page-section
    .navbar_button-menu-button-wrapper
    .navbar_button-menu-button-hamburger-toggle::before {
    width: 5rem;
    height: 4.5rem;
  }

  .section_hero .hero_heading-container .hero-heading.nachhaltige,
  .section_hero .hero_heading-container .hero-heading.mobilitat {
    font-size: 15vw;
  }

  div.section_wer_wir_sind,
  .section_wer_wir_sind {
    overflow: hidden;
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 6rem 0;
  }

  .startrampe_heading_group_text .heading-style-h2.clipped {
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide[data-open] {
    transition: all var(--startrampe-animation-duration) var(--startrampe-easing-fuction) 1;
    margin-bottom: 0;
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide[data-open] ~ .swiper-slide-next {
    opacity: 25%;
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide[data-open] .wwt-slide_image-wrapper {
    filter: brightness(90%);
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide[data-open] .wwt-slide_heading-wrapper {
    transform: translateX(30rem);
    position: absolute;
  }

  .section_was_wir_tun
    .swiper-container
    .swiper-wrapper
    .swiper-slide
    .wwt-slide_heading-wrapper
    .wwt-slide_description {
    max-width: 450px;
  }
  .section_was_wir_tun
    .swiper-container
    .swiper-wrapper
    .swiper-slide[data-open]
    .wwt-slide_heading-wrapper
    .wwt-slide_description {
    transform: translateY(0);
  }

  .section_was_wir_tun
    .swiper-container
    .swiper-wrapper
    .swiper-slide[data-open]
    .wwt-slide_heading-wrapper
    .wwt-slide_description {
    opacity: 100;
  }

  @keyframes steepAppear {
    0% {
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 100% 100%);
    }
    50% {
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 100%);
    }
    100% {
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide {
    transition:
      all var(--startrampe-animation-duration) var(--startrampe-easing-fuction),
      opacity var(--startrampe-animation-duration) var(--startrampe-easing-fuction);
    transform: scale(0.9);
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_image-wrapper > div {
    aspect-ratio: 1/1;
    min-width: 30rem;
  }

  .section_was_wir_tun
    .swiper-container
    .swiper-wrapper
    .swiper-slide
    .wwt-slide_image-wrapper
    > div.wwt-slide-image_crowd {
    min-width: 32rem;
    justify-content: center;
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_image-wrapper img {
    transition: transform var(--startrampe-animation-duration) var(--startrampe-easing-fuction);
    min-height: 100%;
    min-width: 25rem;
    object-position: 50% 50%;
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide:hover .wwt-slide_image-wrapper img {
    transform: scale(1.2);
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide:hover .wwt-slide_image-wrapper {
    filter: brightness(75%);
    backface-visibility: hidden;
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-prev,
  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-next {
    scale: 1;
  }

  .section_hero .hero-black-section .hero_background {
    height: 160%;
    top: -75%;
  }
  .section_hero .hero_image-section .hero_button-wrapper .embed-arrow {
    animation: bouncingArrow 2s var(--startrampe-easing-fuction) infinite;
  }

  @keyframes bouncingArrow {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  .section_unser_netzwerk .netzwerk_grid-element {
    grid-row-gap: 0;
  }

  .section_unser_netzwerk .netzwerk_grid-element .netzwerk_item {
    transition: all var(--startrampe-animation-duration) var(--startrampe-easing-fuction);
    clip-path: polygon(0 100%, 5% 100%, 100% 73%, 100% 0, 0 0);
  }

  .section_unser_netzwerk .netzwerk_grid-element .netzwerk_item {
    margin-bottom: -1rem;
  }

  .section_unser_netzwerk .netzwerk_grid-element .netzwerk_item .netzwerk-item_title-element .netzwerk-item_title {
    line-height: 1.1;
  }

  .section_unser_netzwerk .netzwerk_grid-element .netzwerk_item:hover {
    cursor: pointer;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 100% 0, 0 0);
    height: 14rem !important;
  }

  .section_unsere-geschaftfelder
    .geschaftfelder_content-container
    .geschaft_slider
    .geschaft-slider_mask
    .geschaft-slider_slide
    .geschaft_slide-container
    h4 {
    transition: clip-path var(--startrampe-animation-duration) var(--startrampe-easing-fuction) 0.2s;
  }

  .section_unsere-geschaftfelder
    .geschaftfelder_content-container
    .geschaft_slider
    .geschaft-slider_mask
    .geschaft-slider_slide:hover {
    cursor: pointer;
  }

  .section_unsere-geschaftfelder
    .geschaftfelder_content-container
    .geschaft_slider
    .geschaft-slider_mask
    .geschaft-slider_slide:hover
    .geschaft_slide-container
    h4 {
    clip-path: polygon(50% 100%, 100% 100%, 100% 0, 0 0, 0 100%);
  }

  .startrampe_heading_group_text .heading-style-h2.clipped {
    clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 100%);
    backface-visibility: hidden;
  }

  .section_unser_netzwerk .netzwerk_grid-element .netzwerk_item {
    clip-path: polygon(0 100%, 5% 100%, 100% 73%, 100% 0, 0 0);
  }

  .section_unser_netzwerk .netzwerk_grid-element .netzwerk_item {
    margin-bottom: -1rem;
  }

  .section_unser_netzwerk .netzwerk_grid-element .netzwerk_item .netzwerk-item_title-element .netzwerk-item_title {
    line-height: 1.8;
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_image-wrapper {
    transform: translate(-75px, -25px);
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_image-wrapper.ideation {
    transform: translate(-100px, -25px);
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide.crowd-ideation .wwt-slide_image-wrapper {
    transform: translate(-25px, -25px);
  }
  .startrampe_heading_group_text .heading-style-h2.clipped.das-team {
    line-height: 4.8rem;
  }
  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_heading-wrapper.crowd-ideation {
    margin-top: 75px;
  }
}

@media (min-width: 1280px) {
  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_heading-wrapper.crowd-ideation {
    margin-top: 100px;
  }

  .section_unser_netzwerk .heading-wrapper .netzwerk_paragraph-element {
    font-size: inherit;
  }

  .startrampe_heading_group_text .heading-style-h2.clipped.was-wir-tun {
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 0% 100%);
  }

  .section_was_wir_tun
    .swiper-container
    .swiper-wrapper
    .swiper-slide.swiper-slide.venture-building
    .wwt-slide_heading-wrapper {
    margin-top: 100px;
  }

  .startrampe_heading_group_text .heading-style-h2.clipped.das-team {
    clip-path: polygon(0 0, 100% 0%, 100% 40%, 0% 100%);
    line-height: 4.8rem;
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_image-wrapper {
    transform: translate(-75px, -25px);
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_image-wrapper.ideation {
    transform: translate(-100px, -25px);
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide.crowd-ideation .wwt-slide_image-wrapper {
    transform: translate(-25px, -25px);
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide .wwt-slide_image-wrapper > div {
    min-width: 32rem;
  }
  .section_hero .hero_heading-container .hero-heading.nachhaltige,
  .section_hero .hero_heading-container .hero-heading.mobilitat {
    font-size: 13rem;
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide {
    width: 32rem;
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide[data-open] .wwt-slide_heading-wrapper {
    transform: translateX(26rem);
  }
}

@media screen and (min-width: 1440px) {
  .section_unser_netzwerk .netzwerk_grid-element .netzwerk_item {
    clip-path: polygon(0 100%, 5% 100%, 100% 73%, 100% 0, 0 0);
  }

  .section_unser_netzwerk .netzwerk_grid-element .netzwerk_item {
    margin-bottom: -1rem;
  }

  .section_unser_netzwerk .netzwerk_grid-element .netzwerk_item .netzwerk-item_title-element .netzwerk-item_title {
    line-height: 1.1;
  }

  .section_was_wir_tun .swiper-container .swiper-wrapper .swiper-slide[data-open] .wwt-slide_heading-wrapper {
    transform: translateX(32rem);
  }
}
